.hide {
	display:none;
}

.bold-text {
	font-weight: bold;
}

#borderedblocks-main .help {
	background: #606060;
	color: #ffffff;
	width: 15px;
	height: 15px;
	line-height: 15px;
	display: inline-block;
	border-radius: 100px;
	text-align: center;
	text-decoration: none;
	cursor:help;
	font-weight: normal;
	font-size: 12px;
}

#borderedblocks-main .help:focus,
#borderedblocks-main .help:active {
	box-shadow: none;
}

#borderedblocks-faq p {
	font-size:14px;
	margin-bottom:20px;
}

#borderedblocks-faq li {
	font-size:14px;
	margin-left: 25px;
	list-style-type: disc;
}

#borderedblocks-faq strong {
	color:#222;
	font-size:16px;
	padding-top:20px;
	margin-bottom:3px;
	border-top:solid 1px #ccc;
	display:block;
}

#borderedblocks-faq p:nth-of-type(1) strong {
	border-top:none;
}

#borderedblocks-main .form-table h2 {
	margin: 0 0 10px 0;
}

#borderedblocks-main .button-primary,
#borderedblocks-main .button-secondary {
	margin: 15px ;
}

.border-table, .padding-table, .label-table {
	width: 100%;
	padding-left: 20px;
	padding-right: 10px;
	background-color: #e0e0e0;
}

.padding-table td {
	padding: 10px 0;
	text-align: center;	
}

.form-table th.table-title {
 	padding: 10px 0 10px 0;
 	border-bottom: solid 1px #999999;
 }

.form-table .no-padding {
	padding-top:0;
	padding-bottom: 0;
}

.form-table th.table-title .button-reset {
	float: right;
}

.form-table .preview-cell {
	width: 60%;
	padding-left: 40px;
	padding-right: 40px;
	background: #ffffff;
	vertical-align: top;
}

.form-table .preview-cell h3 {
	font-size: 30px;
	margin: 0;
}

.form-table .preview-cell .preview-intro,
.form-table .preview-cell .preview-outro {
	text-align: center;
	border: 0 !important;
	padding: 0 !important;
}

.form-table .preview-cell .preview-outro {
	margin-top: 30px !important;
	color: #ff0000;
}

.form-table .preview-cell p,
.form-table .preview-cell div {
	position: relative;
	margin-top: 0 !important;
	margin-bottom: 10px !important;
	font-size: 16px;	
}

.form-table .preview-cell ul,
.form-table .preview-cell li {
	list-style-type: disc;
	margin: 0 0 0 10px;
}

.form-table .preview-cell .columns {	
	display: flex;
}

.form-table .preview-cell .columns > * {
	margin: 0 10px;
}

.form-table .preview-cell .column-left {
	width: 30%;
}

.form-table .preview-cell .column-right {
	width: 70%;
}

.form-table .preview-cell img {
	width: 200px;
	max-width: 100%;
}

.form-table .preview-cell .block-label {
    transition: all 0.2s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;    
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-indent: 5px;
    border-bottom: dotted 1px #c0c0c0;
    font-weight: normal;
    z-index: 10;
    font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#borderedblocks-supported-blocks p,
#borderedblocks-supported-blocks li {
	font-size: 14px;
}

#borderedblocks-supported-blocks ul ul {
		list-style-type: disc;
		margin-left: 25px;
		margin-bottom: 40px;
}

#borderedblocks-supported-blocks .supported-blocks > ul {
	float: left;
	width: 30%;
	max-width: 250px;
	overflow: hidden;
	margin-right: 3%;
}


#borderedblocks-supported-blocks .supported-blocks p {
	clear: both;
}