.editor-styles-wrapper .wp-block {
    border: dotted 1px #c0c0c0;
    padding: 25px 10px 10px 10px !important;
}

.editor-styles-wrapper .wp-block[data-empty="true"] {
    padding-top: 10px !important;
}

.editor-styles-wrapper .wp-block:hover {
        border: solid 1px #a0a0a0;
}

.components-placeholder.components-placeholder {
max-width: 100% !important;
    overflow: hidden;
}

.components-placeholder.components-placeholder:hover {
    overflow: initial;
}

.editor-styles-wrapper .wp-block.block-list-appender {
    border: 0;
    padding: 0;
}

.editor-styles-wrapper .wp-block:before  {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;    
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 5px;
    border-bottom: dotted 1px #c0c0c0;
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    opacity: 0.3;
    z-index: 100;
    height: 18px;
    line-height: 18px;
}


/*
.editor-styles-wrapper .wp-block .wp-block .wp-block {
    border: solid 1px red;
}
*/





.editor-styles-wrapper h1:before {content:"H1 Title";}

.editor-styles-wrapper .wp-block.has-image {position: relative; padding-bottom: 50px !important;}
.editor-styles-wrapper .wp-block.has-image:before {content:"Image";}
.editor-styles-wrapper .wp-block.has-image figure {margin-top:0;}
.editor-styles-wrapper .wp-block[data-empty="true"]:before {display: none;}


