.gutenborders-toggle {
    margin-left: 30px;
    margin-right: 10px;
}

.gutenborders-toggle label {
    margin-left: 10px;
    position: relative;
    top: -1px;

}
.editor-styles-wrapper .wp-block {
    transition: all 0.3s;
}

.gutenborders .editor-styles-wrapper .wp-block {
    border: dotted 1px #c0c0c0;
    padding: 25px 10px 10px 10px !important;
}

.gutenborders .editor-styles-wrapper .wp-block[data-empty="true"] {
    padding-top: 10px !important;
}

.gutenborders .editor-styles-wrapper .wp-block:hover {
    border: solid 1px #a0a0a0;
}

.gutenborders .components-placeholder.components-placeholder {
    max-width: 100% !important;
    overflow: hidden;
}

.gutenborders .components-placeholder.components-placeholder:hover {
    overflow: initial;
}

.gutenborders .editor-styles-wrapper .wp-block.block-list-appender {
    border: 0;
    padding: 0;
}

.gutenborders .editor-styles-wrapper .wp-block:before  {
    transition: all 0.2s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;    
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 5px;
    border-bottom: dotted 1px #c0c0c0;
    background: #000000;
    color: #ffffff;
    font-weight: normal;
    opacity: 0.3;
    z-index: 10;
    height: 18px;
    line-height: 18px;
    font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


/*
.gutenborders .editor-styles-wrapper .wp-block .wp-block .wp-block {
    border: solid 1px red;
}
*/





.gutenborders .editor-styles-wrapper h1:before {content:"H1 Title";}

.gutenborders .editor-styles-wrapper .wp-block.contains-blocks {position: relative; padding-bottom: 50px !important;}
.gutenborders .editor-styles-wrapper .wp-block.has-image:before {content:"Image";}
.gutenborders .editor-styles-wrapper .wp-block.has-image figure {margin-top:0;}

.gutenborders .editor-styles-wrapper .wp-block.gallery-block:before {content:"Gallery";}

.gutenborders .editor-styles-wrapper .wp-block.has-media-text:before {content:"Media & Text";}
.gutenborders .editor-styles-wrapper .wp-block[data-empty="true"]:before {display: none;}

.gutenborders-toggle span {
    display: none;
}
